<!DOCTYPE html>
{% load static %}
<!-- Bootstrap4 -->
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!-- Bootstrap4 -->

<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FavPicker</title>

    <link rel="icon" href="{% static "favpicker/img/favicon.ico" %}">
    <meta name="description" content="Twitterで「いいね」した画像付きツイートを一括保存" >
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://favpicker.com" />
    <meta property="og:description" content="Twitterで「いいね」した画像付きツイートを一括保存" />
    <meta property="og:site_name" content="FavPicker" />
    <meta property="og:image" content="{% static "favpicker/img/og-image.png" %}" />


    <link rel="stylesheet" href="{% static 'favpicker/css/style.css' %}" >
    <link rel="stylesheet" href="{% static 'favpicker/css/bootstrap.min.css' %}">
    <script src="{% static 'favpicker/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,500&family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-dark navbar-expand-lg navbar-light bg-info font-google">
  <a class="navbar-brand" href="#"><h1>FavPicker</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://favpicker.com/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/Kazuya-KT/FavPicker.git"  target="_blank">Github</a>
      </li>
    </ul>
  </div>
</nav>


<div class="jumbotron jumbotron-fluid container-overviews">
    <div class="border border-0">
        <img src="{% static "favpicker/img/heart3.svg" %}", class="img-fluid", class="rounded-lg">
    </div>
    {% block content %}
    {% endblock content %}

    {% block result %}
    {% endblock result %}

    {% block dl_view %}
    {% endblock dl_view %}

    {% block logout %}
    {% endblock logout %}

</div>

<!-- Footer -->

<footer class="page-footer font-small">

<div class="text-center py-3">
    © 2021 <a href="https://favpicker.com/"> favpicker.com</a>
</div>

</footer>
<!-- Footer -->


</body>
</html>
